extends layout.pug

block content

    h1 Sandbox
    table
        tr
            th First Name
            th Last Name
        tbody 
            each name in names
                tr 
                    td= name.first
                    td= name.last
